.tile {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 65px;
  margin-right: -1px;
  margin-top: -6px;
  padding: 0;
  text-align: center;
  width: 65px;
}

.checked {
  background: #F900FF;
}

.unchecked {
  background: #fff;
}

.win {
  background: #06FF00 !important;
}
